# Release payloads (and their split chunks) are not stored in this repo; keep
# them out of history. Transfer them separately and verify with the .sha256 files.
*-airgap.tar.gz
*.part_*
*.tar.zip.[0-9]*
*.tar.gz.z[0-9]*
*.tar.gz.zip
